<!-- Form - Script - Posts -->
<%= form_with(model: script_post, local: true) do |form_phc_script_post| %>

  <!-- Render Validation -->
  <%= render 'phcnotifi/validations', :object => @script_post %>
  <!-- Render Validation -->
  
  <div class="form-group field_with_errors">
  <%= form_phc_script_post.label :script_tittle %>
  <%= form_phc_script_post.text_field :script_tittle, class: 'form-control', placeholder: 'Script Title'  %>
  </div>
  
  <div class="form-group field_with_errors">
  <%= form_phc_script_post.label :script_snippet %>
  <%= form_phc_script_post.text_area :script_snippet, class: 'form-control', placeholder: 'Code Snippet' %>
  </div>
  
  <div class="actions">
  <%= form_phc_script_post.submit class: "btn btn-primary"  %>
  </div>

<% end %>
<!-- Form - Script - Posts -->
