<!-- Title System -->
<% phc_title "Code Snippet Manager" %>
<% phc_title_tagline "Url Details" %>
<% phc_breadcrumb_one link_to "Code Snippet Index", phccodesnipper.script_posts_path %>
<% phc_breadcrumb_two yield(:phc_title_tagline) %>
<!-- Title System -->

<!-- Page Bradcrumbs -->
<ol class="breadcrumb pull-right">
	<li class="breadcrumb-item"><%= yield(:phc_breadcrumb_one) %></li>
	<li class="breadcrumb-item active"><%= yield(:phc_breadcrumb_two) %></li>
</ol>
<!-- Page Bradcrumbs -->

<!-- Page Header -->
<h1 class="page-header"><%= yield(:phc_title) %></h1>
<!-- Page Header -->

<!-- Page Content -->
<div class="row">

	<!-- Button Panel -->
	<div class="col-lg-4">

		<div class="panel panel-inverse">
			<div class="panel-heading">
				<div class="panel-heading-btn">
				</div>
			</div>
			<div class="panel-body">

				<div class="btn-group d-flex" role="group">
					<%= link_to 'Update', phccodesnipperpro.edit_script_url_path, class: "btn btn-primary" %>
					<%= link_to 'Remove', phccodesnipperpro.script_url_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
				</div>		

			</div>
		</div>

	</div>
	<!-- Button Panel -->

	<!-- Main Panel -->
	<div class="col-lg-8">

		<div class="panel panel-inverse">
			<div class="panel-heading">
				<div class="panel-heading-btn">
				</div>
			</div>
			<div class="panel-body">

        <p>
          <strong>Script url:</strong>
          <%= @script_url.script_url %>
        </p>

			</div>
		</div>

	</div>
	<!-- Main Panel -->

</div>
<!-- Page Content -->
